/* CSS RESET */
@import "reset.css";

/* CSS Base */
* {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC", cursive;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

/* utilities */
.pt-40 {
  padding-top: 40px;
}

/* font-size */

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-64 {
  font-size: 64px;
}

.fs-128 {
  font-size: 128px;
}

/* margin-bottom */
.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-32 {
  margin-bottom: 32px;
}

/* header */

.bg-dark {
  background-color: #000;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.w-306 {
  width: 306px;
}

.w-196 {
  width: 196px;
}

.text-right {
  text-align: right;
}

.d-inline-block {
  display: inline-block;
}

.text-deco-none {
  text-decoration: none;
}

.text-gray {
  color: #d1d1d1;
}

/* banner */

.d-block {
  display: block;
}

.col-6 {
  width: calc(86px * 6 + 24px * 5);
}

.flex-column {
  flex-direction: column;
}

.text-white {
  color: #fff;
}

.text-green {
  color: #00ffa3;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-232 {
  margin-top: 232px;
  margin-bottom: 232px;
}

.bg-white {
  background-color: #fff;
}

.rounded-32 {
  border-radius: 32px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.ml-auto {
  margin-left: auto;
}

.align-items-center {
  align-items: center;
}

.contact-btn {
  font-family: "Bruno Ace SC", cursive;
}

.ml-4 {
  margin-left: 4px;
}

/* intro */

.intro-sec {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}

.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.col-5 {
  width: calc(86px * 5 + 24px * 4);
}

.col-2 {
  width: calc(86px * 2 + 24px * 1);
}

.col-3 {
  width: calc(86px * 3 + 24px * 2);
}

.mr-16 {
  margin-right: 16px;
}

/* about me */

.bg-white {
  background-color: #fff;
}

.text-dark {
  color: #15161d;
}

.text-black {
  color: #000;
}

.flex-wrap {
  flex-wrap: wrap;
}

.box {
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

/* contact me */

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.ml-16 {
  margin-left: 16px;
}

.contact-icon {
  width: 100px;
}

.social-media {
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.discord {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true");
}

.instagram {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true");
}

.message {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true");
}

.social-media:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.w-162 {
  width: 162px;
}

.h-162 {
  height: 162px;
}

.w-162 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* my project */
.col-7 {
  width: calc(86px * 7 + 24px * 6);
}

.align-self-end {
  align-self: flex-end;
}

.col-8 {
  width: calc(86px * 8 + 24px * 7);
}

.align-self-start {
  align-self: flex-start;
}

/* footer */

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}
